@model AmazingFilm.DomainModel.Entities.Film


@{
    ViewData["Title"] = "Details";
}

<script type="text/jscript">
    $("btnComment").click(function (e) {
        $.ajax({
            url: "/Films/AddComment",
            data: {
                comentario: $("#comentario").val(),
                id: $("#id").val()
            },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //aqui voce pode dar um refreh na tela pra mostrar o comentario novo cadastrado

            }
        });
    });
</script>
<div>
    <h2>  </h2>
    <hr />
    <table class="table">
        <tr>
            <th rowspan="2">
                <img src="    @Html.DisplayFor(model => model.PhotoUrl)" style="max-width:300px;height:auto" />
            </th>
            <td style="height:40px">
                <h3> @Html.DisplayFor(model => model.Name)</h3>
            </td>
        </tr>
        <tr>

            <td>  @Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Comentar:
                                @using (Html.BeginForm("AddComment", "Films", new { idFilm = Model.Id }))
                                {
                                    <textarea id="comentario" name="comentario" class="form-control" style="width:100%"></textarea>

                                    <input type="submit" class="btn btn-primary" value="Enviar" />
                                }
                            </th>
                            <td>
                                @ViewBag.qtdLiked Gostaram <br />
                                <input type="button" class="btn btn-primary" value="Gostei" onclick="location.href='@Url.Action("AddRating", "Films" ,new { liked=true, idFilm=Model.Id })'" />
                            </td>
                            <td>
                                @ViewBag.qtdNotLiked  não Gostaram <br />
                                <input type="button" class="btn btn-primary" value="Não Gostei" onclick="location.href='@Url.Action("AddRating", "Films" ,new { liked=false , idFilm=Model.Id})'" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="table">
                    @foreach (var item in Model.Comments)
                    {
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">@item.profile.Name - @item.PublishDateTime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@item.Text</td>
                            </tr>

                        </tbody>
                    }
                </table>
            </td>

    </table>


</div>
<div>

</div>
