@model IEnumerable<AmazingFilm.DomainModel.ValueObjects.FilmGroup>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success">Create New Group</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-8">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-4">
                    <a asp-action="Edit" asp-route-id="@item.Name" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Name" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Name" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
